mixin articleListItem()
    a.big-list-item.article-item(href="editors-detail.html")
        figure.bg
            img(src="https://place-hold.it/370x380")

        .description
            span.icon-video
            span.date MARCH 12 2020
            h4.title Denimdays, October 2019
            p Art Comes First & Calik Denim have re-envisioned what sustainability means from creative conception to production.

            .author
                img(src="https://place-hold.it/50x50")
                div.info
                    span.name Melisa Yılmaz
                    span.date MARCH 12 2020
