mixin bigListItem(isVideo, hasTag, href)
    a.big-list-item(href=href)
        - if (hasTag)
            span.tag VIDEO OF THE MONTH
        figure.bg
            img(src="https://place-hold.it/370x380")

        .description
            - if (isVideo)
                span.icon-video
            span.date MARCH 12 2020
            h4.title Denimdays, October 2019
            p Art Comes First & Calik Denim have re-envisioned what sustainability means from creative conception to production.
