mixin bigListItem()
    a.big-list-item.editor-item(href="editors-detail.html")
        figure.bg
            img(src="https://place-hold.it/370x380")

        .description
            h4.title Melis Yılmaz
            span.date CEO
            p Art Comes First & Calik Denim have re-envisioned what sustainability means from creative conception to production.
