mixin listItem(isVideo, href)
    a.list-item(href=href)
        figure
            img(src="https://place-hold.it/370x370")
            - if (isVideo)
                span.icon-video

        .description
            h4.title Denimdays, October 2019
            p Art Comes First & Calik Denim have re-envisioned what sustainability means from creative conception to production.
