extends layout/layout
block head
    -var isPage = "collection"
block content
    section.article-page-content
        article.content-wrapper
            .container
                .row.d-flex.justify-content-center
                    .col-12.col-md-9.col-lg-7.detail-page
                        .col-12.col-md-6.offset-md-3
                            .select.mb40
                                select
                                    option(value="a") Fall / Winter 19-20

                        h3.title.title-page-name.text-center Loxodrome
                        blockquote We are glad to introduce our AW 21/22 Collection: LOXODROME the indigo route.. The indigo route of our Loxodrome is a synonym of respect for the environment, for a new well-being and conscious view in which body and mind are intimately connected. Begin the journey guided by this awareness path through watching the concept presentation movies...

                        .show-more-content(data-content="article")
                            p Etiam quis dui sit amet eros finibus blandit. Fusce urna nulla, aliquet ut ipsum nec, interdum pulvinar arcu. Aliquam at nisi lectus. Vivamus aliquet nisl id justo mattis suscipit. Duis quis nisi ultrices, viverra augue in, interdum tellus. Vivamus non sapien nunc. Sed vitae est in risus molestie sagittis. Nam quis facilisis dolor, eu eleifend arcu. Sed ultrices porta magna, facilisis pharetra elit. In sed quam vel augue semper dictum. Pellentesque sodales ex a arcu laoreet, ac ultricies nisi tincidunt. Ut tempor diam ut nibh placerat congue non et nibh. Curabitur ullamcorper congue purus, sed molestie libero gravida ut. Sed iaculis quam id viverra maximus.
                            p Integer et ultricies augue. Sed mattis ante non odio gravida eleifend. Curabitur vehicula nisi sit amet malesuada sodales. Integer tristique orci odio, at aliquet massa euismod a. Nulla at feugiat sapien, a vulputate arcu. Nam risus libero, efficitur non bibendum sit amet, dignissim eu nisi. Mauris massa tellus, hendrerit non interdum eu, porttitor at felis. Praesent non rutrum ante, sed blandit tellus. Maecenas quam enim, tempus id massa id, efficitur luctus enim. Mauris id ipsum purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        a.show-more-link(href="#", data-toggle="article") Show more

                        .videos-list
                            .item
                                h4.title.title-third.text-center Skinlithe
                                iframe(height="380" src="https://www.youtube.com/embed/iXpYa0BxrW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                a.link(href="#") Click for the detailed information.
                            .item
                                h4.title.title-third.text-center Skinlithe
                                iframe(height="380" src="https://www.youtube.com/embed/iXpYa0BxrW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                a.link(href="#") Click for the detailed information.
                            .item
                                h4.title.title-third.text-center Skinlithe
                                iframe(height="380" src="https://www.youtube.com/embed/iXpYa0BxrW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                a.link(href="#") Click for the detailed information.