extends layout/layout
block head
    -var isPage = "news"

block content
    section.article-page-content
        article.content-wrapper.bg
            .container
                .row.d-flex.justify-content-center
                    .col-12.col-md-9.col-lg-7.detail-page
                        h3.title.title-page-name.text-center 22 Calik 22 Denim x Art Comes First
                        blockquote With over 350 visitors from all over the world, the 2019 edition of the annual Ever Evolving Talks by Calik Denim event was a huge success.
                        .author
                            img(src="https://place-hold.it/50x50")
                            div.info
                                span.name Melisa Yılmaz
                                span.date MARCH 12 2020

                        img(src="https://place-hold.it/680x450")
                        p Etiam quis dui sit amet eros finibus blandit. Fusce urna nulla, aliquet ut ipsum nec, interdum pulvinar arcu. Aliquam at nisi lectus. Vivamus aliquet nisl id justo mattis suscipit. Duis quis nisi ultrices, viverra augue in, interdum tellus. Vivamus non sapien nunc. Sed vitae est in risus molestie sagittis. Nam quis facilisis dolor, eu eleifend arcu. Sed ultrices porta magna, facilisis pharetra elit. In sed quam vel augue semper dictum. Pellentesque sodales ex a arcu laoreet, ac ultricies nisi tincidunt. Ut tempor diam ut nibh placerat congue non et nibh. Curabitur ullamcorper congue purus, sed molestie libero gravida ut. Sed iaculis quam id viverra maximus.

                        p Integer et ultricies augue. Sed mattis ante non odio gravida eleifend. Curabitur vehicula nisi sit amet malesuada sodales. Integer tristique orci odio, at aliquet massa euismod a. Nulla at feugiat sapien, a vulputate arcu. Nam risus libero, efficitur non bibendum sit amet, dignissim eu nisi. Mauris massa tellus, hendrerit non interdum eu, porttitor at felis. Praesent non rutrum ante, sed blandit tellus. Maecenas quam enim, tempus id massa id, efficitur luctus enim. Mauris id ipsum purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                        h3.title.title-second Tags
                        .tags
                            a(href="#") Videos
                            a(href="#") Videos
                            a(href="#") Videos
                            a(href="#") Videos

                        .pagination
                            a.pagination-next(href="detail2.html")

    section.content-wrapper
        .container
            .row
                .col-12.d-flex.justify-content-center
                    h3.title.title-second.space You May Also Like


                include components/bigListItem
                .col-12.common-list
                    .row
                        - for(let i = 0; i < 3; i++)
                            .col-12.col-md-6.col-lg-4
                                +bigListItem()
block scripts
    script(type="text/javascript", src=prefix + "/js/plugins/infinite-scroll.pkgd.min.js")