extends layout/layout
block head
    -var isPage = "editors"

block content
    section.content-wrapper.bg
        .container
            .row
                .col-12.d-flex.justify-content-center
                    h3.title.title-page-name Editors


                include components/editorListItem
                .col-12.mb100.common-list
                    .row
                        - for(let i = 0; i < 9; i++)
                            .col-12.col-md-6.col-lg-4
                                +bigListItem(false, false, "editors-detail.com")

