extends layout/layout

block head
    -var isPage = "home"

block content
    section.content-wrapper
        .container
            .row
                .col-12
                    h3.title.title-primary Editors

                .col-12.mb100
                    .homepage-slider.owl-carousel
                        - for(let i = 0; i < 9; i++)
                            .item
                                figure.bg
                                    img(src="https://place-hold.it/1200x385")
                                .description.col-12.col-md-5
                                    a(href="#")
                                        h4.title Calik Denim x Art Comes First #{i}
                                        p Art Comes First & Calik Denim have re-envisioned what sustainability means from creative…

                                    a.author(href="editors-detail.html")
                                        img(src="https://place-hold.it/50x50")
                                        div.info
                                            span.name Melisa Yılmaz
                                            span.date MARCH 12 2020
                    .col-12.slider-control-wrapper
                        #homepage-custom-dots.custom-dots
                        a.see-all-link(href="detail.html") SEE ALL

                .col-12
                    h3.title.title-primary.space Best of Month
                include components/bigListItem
                .col-12.mb100
                    .owl-carousel.carousel-3(data-custom-nav-id="#best-of-month-slider")
                        - for(let i = 0; i < 9; i++)
                            .item
                                +bigListItem(true, true, "videos-detail.html")

                    .col-12.slider-control-wrapper
                        #best-of-month-slider.custom-dots
                        a.see-all-link(href="videos.html") SEE ALL

                .col-12
                    h3.title.title-primary.space Videos
                include components/listItem
                .col-12.mb100
                    .owl-carousel.carousel-4(data-custom-nav-id="#videos-slider")
                        - for(let i = 0; i < 9; i++)
                            .item
                                +listItem(true, false, "videos-detail.html")
                    .col-12.slider-control-wrapper
                        #videos-slider.custom-dots
                        a.see-all-link(href="videos.html") SEE ALL

                .col-12
                    h3.title.title-primary.space Podcasts
                include components/listItem
                .col-12.mb100
                    .owl-carousel.carousel-4(data-custom-nav-id="#podcasts-slider")
                        - for(let i = 0; i < 9; i++)
                            .item
                                +listItem(true, false, "podcasts-detail.html")
                    .col-12.slider-control-wrapper
                        #podcasts-slider.custom-dots
                        a.see-all-link(href="podcasts.html") SEE ALL

                .col-12
                    h3.title.title-primary.space News
                include components/listItem
                .col-12.mb100
                    .owl-carousel.carousel-4(data-custom-nav-id="#news-slider")
                        - for(let i = 0; i < 9; i++)
                            .item
                                +listItem(false, false, "detail.html")
                    .col-12.slider-control-wrapper
                        #news-slider.custom-dots
                        a.see-all-link(href="news.html") SEE ALL

                .col-12
                    h3.title.title-primary.space Interviews
                include components/listItem
                .col-12
                    .owl-carousel.carousel-4(data-custom-nav-id="#interviews-slider")
                        - for(let i = 0; i < 9; i++)
                            .item
                                +listItem(false, false, "details.html")
                    .col-12.slider-control-wrapper
                        #interviews-slider.custom-dots
                        a.see-all-link(href="news.html") SEE ALL
