extends layout/layout
block head
    -var isPage = "videos"
block content
    section.content-wrapper.bg
        .container
            .row
                .col-12.d-flex.justify-content-center
                    h3.title.title-page-name Videos


                include components/bigListItem
                .col-12.mb100.common-list
                    .row
                        - for(let i = 0; i < 9; i++)
                            .col-12.col-md-6.col-lg-4
                                +bigListItem(true, false, "videos-detail.html")

