.detail-page {
  img, iframe {
    width: 100%;
  }

  > *:not(.title) {
    margin-bottom: 40px;
  }

  p {
    font-family: $font_second;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #000000;
  }

  blockquote {
    border-left: 2px solid $blue;
    font-family: $font_primary;
    font-style: italic;
    font-size: 24px;
    margin-left: 0;
    padding-left: 25px;
  }

  .tags {
    display: block;
    margin-top: 20px;

    a {
      display: inline-block;
      line-height: 38px;
      border: 1px solid #f3e1e1;
      background-color: $white;
      padding: 0 10px;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: -0.11px;
      color: $black;
      margin: 0 10px 10px 0;
    }
  }

  .show-more-content {
    @include centerfix;
    height: 100px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 57px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 90%, #ffffff);
    }

    &.active {
      height: auto;

      &:after {
        display: none;
      }
    }
  }

  .show-more-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;
    letter-spacing: normal;
    color: $black;
    text-decoration: underline;
    font-family: $font_second;

    &.active {
      display: none;
    }
  }

  .videos-list {
    margin: 50px 0;
    @include centerfix;
    .item {
      &:not(:last-child) {
        border-top: solid 1px #efefef;
      }
      .title {
        @include centerfix;
        padding: 25px 0;
      }
      iframe {
        @include centerfix;
      }
      .link {
        @include centerfix;
        font-family: $font_second;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.86;
        color: $black;
        padding: 25px 0;
        text-decoration: underline;
        border-bottom: solid 1px #efefef;

        &:after {
          content: url("../images/icon-arrow-down.svg");
          @include center(false, true);
          right: 20px;
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
}
.author {
   display: flex;
   align-items: center;
   width: 100%;

   img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     margin-right: 20px;
   }

   .info {
     .name {
       display: block;
       font-size: 24px;
       font-weight: 400;
       letter-spacing: -1px;
       line-height: 0.8;
       margin-bottom: 10px;
     }
     .date {
       font-family: $font_second;
       font-size: 12px;
       font-weight: 300;
     }
   }
 }

.article-page-content {
  position: relative;
  z-index: 9;

  .content-wrapper {
    position: relative;
    z-index: 1;

    &:first-child {
      z-index: 2;
    }
  }
}