.homepage-slider {
  @include centerfix;
  height: 385px;

  .item {
    @include centerfix;
    height: 385px;

    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;

      img {
        @include center(true, true);
        height: 100%;
      }
    }

    .description {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 2;
      padding: 35px 15px;
      background-image: linear-gradient(to right, rgba(0, 50, 87, 0) 2%, #003f6e 90%);

      @include minBreakpoint($phablet) {
        background: $blue;
      }

      &:before {
        @include minBreakpoint($phablet) {
          content: "";
          position: absolute;
          left: -300px;
          top: 0;
          width: 300px;
          height: 100%;
          background-image: linear-gradient(to right, rgba(0, 50, 87, 0) 2%, #003f6e 90%);
        }
      }

      .title {
        display: block;
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.25;
        color: $white;
        margin-bottom: 20px;
      }

      p {
        display: block;
        opacity: 0.6;
        font-family: $font_second;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: $white;
        min-height: 100px;
      }

      .author {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        border-top: solid 2px rgba(255, 255, 255, 0.15);
        display: flex;
        align-items: center;
        padding: 20px 15px 0;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 20px;
        }

        .info {
          .name {
            display: block;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -1px;
            line-height: 0.8;
            color: $white;
          }
          .date {
            font-family: $font_second;
            font-size: 10px;
            font-weight: 300;
            color: $white;
          }
        }
      }
    }
  }
}