.audio-player {
  @include centerfix;
  padding: 30px;
  background-color: $white;
  overflow: hidden;
  display: flex;
  align-items: center;

  audio {
    opacity: 0;
    position: absolute;
    left: 99999999px;
    top: 9999999px;
  }

  .holder {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $red;
    align-items: center;
    justify-content: center;

    .play-pause-btn {
      height: 24px;

      &__icon {
        fill: $white;
      }
    }
  }

  .controls {
    position: absolute;
    left: 110px;
    right: 30px;
    display: flex;
    font-family: $font_second;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.37px;
    justify-content: space-between;

    &__current-time {
      color: $red;
    }

    &__slider {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 70px;
      right: 70px;
      height: 5px;
      background-color: $pink;

    }
    &__progress {
      height: 100%;
      background-color: $red;
    }
  }

  .volume, .download {
    display: none;
  }
}