.big-list-item {
  @include centerfix;
  min-height: 250px;
  overflow: hidden;

  @include minBreakpoint($phablet) {
    height: 380px;
  }

  &:hover {
    .title {
      text-decoration: underline;
    }

    .bg img {
      transform: scale(1.1);
    }
  }

  .tag {
    position: absolute;
    top: 25px;
    left: 22px;
    background: $black;
    font-family: $font_second;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: $white;
    z-index: 3;
    padding: 4px 10px;
    text-transform: uppercase;
  }

  .bg {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      transition: all $animation_speed $animation_easing;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 91px;
      z-index: 2;
    }

    &:before {
      bottom: 89px;
      background-image: linear-gradient(to bottom, rgba(0, 50, 87, 0) 2%, #003f6e 90%);
    }
    &:after {
      bottom: -1px;
      background: $blue;
    }
  }

  .description {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 25px;
    z-index: 3;

    .icon-video {
      margin-bottom: 15px;
    }

    > .date {
      display: block;
      font-family: $font_second;
      font-size: 12px;
      font-weight: 400;
      color: $white;
      margin-bottom: 10px;
    }

    .title {
      display: block;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.29;
      letter-spacing: -0.23px;
      color: $white;
      margin-bottom: 30px;
      transition: all $animation_speed $animation_easing;
    }

    p {
      opacity: 0.6;
      font-family: $font_second;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.33;
      color: $white;
    }
  }

  &.editor-item {
    height: auto;

    .title {
      margin-bottom: 15px;
    }
  }

  &.article-item {
    height: auto;
    padding-bottom: 80px;
    background: $blue;

    .author {
      width: auto;
      margin: 20px -25px 0;
      padding: 10px 25px 0;
      border-top: 1px solid rgba(255,255,255,0.4);

      img {
        width: 60px;
        height: 60px;
      }

      .name {
        font-size: 18px;
        color: $white;
      }
    }
  }
}