.list-item {
  @include centerfix;

  figure {
    @include centerfix;
    margin-bottom: 40px;

    img {
      width: 100%;
    }

    .icon-video {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }

  .description {
    display: block;

    .icon-video {
      margin-bottom: 15px;
    }

    .title {
      display: block;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.33;
      color: $black;
      margin-bottom: 15px;
    }

    p {
      font-family: $font_second;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.33;
      color: $gray;
      height: 80px;
      overflow: hidden;
    }
  }
}