.share-list {
  position: fixed;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9999999;
  transition: all $animation_speed $animation_easing;
  background-color: $white;

  @include minBreakpoint($phablet) {
    position: absolute;
    top: 200px;
    bottom: auto;
    left: 15px;
    width: 62px;
    display: block;
    background-color: transparent;
  }

  li {
    border: solid 1px #e3d8d8;
    height: 50px;
    flex-grow: 1;

    @include minBreakpoint($phablet) {
      display: block;
      height: 62px;

      &:not(:first-child) {
        border-top: none;
      }
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      transition: all $animation_speed $animation_easing;

      @include minBreakpoint($phablet) {
        opacity: 0.5;
      }

      &:hover, &.active {
        background-color: $white;
        opacity: 1;
      }

      &.save {
        &:after {
          content: url("../images/icon-save.svg");
        }

        &:hover, &.active {
          &:after {
            content: url("../images/icon-saved.svg");
          }
        }
      }

      &.fb {
        &:after {
          content: url("../images/icon-facebook.svg");
        }
      }

      &.twitter {
        &:after {
          content: url("../images/icon-twitter.svg");
        }
      }

      &.linkedin {
        &:after {
          content: url("../images/icon-linkedin.svg");
        }
      }

      &.more {
        &:after {
          content: url("../images/icon-more.svg");
        }
      }
    }
  }
}