- var prefix = "./_assets"
<!DOCTYPE html>
html
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Calık Denim
        meta(name="description", content="Calık Denim")
        meta(name="keywords", content="Calık Denim")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
        meta(name="apple-itunes-app", content="app-id=myAppStoreID")
        meta(name="apple-mobile-web-app-title", content="Çalık Denim")
        meta(name="google-play-app", content="app-id=com.calik.blog")
        link(rel="apple-touch-icon" href=prefix + "/images/favicon/apple-icon-72x72.png")
        link(rel="android-touch-icon" href=prefix + "/images/favicon/apple-icon-72x72.png")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        meta(name="format-detection", content="telephone=no")
        link(rel="shortcut icon", type="image/x-icon", href=prefix + "/images/favicon/favicon.ico")
        link(rel="apple-touch-icon", href=prefix + "/images/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="72x72", href=prefix + "/images/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="114x114", href=prefix + "/images/favicon/apple-icon-114x114.png")
        link(rel="stylesheet", href=prefix + "/css/style.css")

    body
        header.header
            .header-top
                .container
                    .close-area
                        .close
                            span.menu
                                span
                                span
                                span

                    .logo-area
                        a.logo
                            img(src=prefix + "/images/logo.svg")

                    .profile-area
                        <a href="#" class="search"><span class="icon-search"></span></a>
                        <a href="account.1.4-settings.html" class="profile"><span class="icon-profile"></span></a>
            .header-menu
                nav
                    ul
                        li.active
                            a(href="#") Blog
                        li
                            a(href="#") Discover
                        li
                            a(href="#") Trends
                        li
                            a(href="#") Fabric
                        li
                            a(href="#") Collections
                        li
                            a(href="#") Çalık Denim News
                        li
                            a(href="#") Wash House
            .header-blog-menu
                nav
                    ul
                        li(class=isPage === "home" ? "active" : "")
                            a(href="index.html") Blog Home
                        li(class=isPage === "news" ? "active" : "")
                            a(href="news.html") News
                        li(class=isPage === "events" ? "active" : "")
                            a(href="events.html") Events
                        li(class=isPage === "podcasts" ? "active" : "")
                            a(href="podcasts.html") Podcasts
                        li(class=isPage === "videos" ? "active" : "")
                            a(href="videos.html") Videos
                        li(class=isPage === "interviews" ? "active" : "")
                            a(href="interviews.html") Interviews
                        li(class=isPage === "editors" ? "active" : "")
                            a(href="editors.html") Editors
                        li(class=isPage === "bookmarks" ? "active" : "")
                            a(href="bookmarks.html") Bookmarks

        main#main
            block content

        footer.footer
            .footer-top
                .container
                    ul
                        li
                            a(href="account.1.1-starred-items.html") Starred Items Requests
                        li
                            a(href="account.1.1-starred-items.html") Account
                        li
                            a(href="account.1.1-starred-items.html") Contact
                        li
                            a(href="account.1.1-starred-items.html") Help

            .footer-social
                a(href="#" class="social")
                    span.icon-instagram
                a(href="#" class="social")
                    span.icon-linkedin
                a(href="#" class="social")
                    span.icon-youtube

        script(type="text/javascript", src=prefix + "/js/plugins/jquery.min.js")
        script(type="text/javascript", src=prefix + "/js/plugins/owl.carousel.min.js")
        script(type="text/javascript", src=prefix + "/js/plugins/green-audio-player.min.js")
        script(type="text/javascript", src=prefix + "/js/plugins/smart-app-banner.js")
        block scripts
        script(type="text/javascript", src=prefix + "/js/script.js")
