.footer {
  @include centerfix;
  display: none;

  @include minBreakpoint($phablet) {
    display: block;
  }
}
.footer-top {
  @include centerfix;
  height: 76px;
  border-bottom: solid 1px #efefef;
  border-top: solid 1px #efefef;
  background-color: #f8f8f8;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;

  .container {
    height: 100%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
    align-items: center;

    li {
      width: 100%;
      text-align: center;

      &:not(:last-child) {
        border-right: solid 1px gray;
      }

      a {
        white-space: nowrap;
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #57595c;
        font-weight: 300;
        letter-spacing: 0.8px;
        padding: 0 10px;
      }
    }
  }
}

.footer-social {
  @include centerfix;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;

  .social {
    font-size: 21px;
    color: $black;
    padding: 7px 14px;

    &:not(:first-child) {
      border-left: solid 1px #efefef;
    }
  }
}