.header {
  @include centerfix;
  z-index: 4;
  background-color: $white;
}
.header-top {
  height: 50px;
  border-bottom: solid 1px rgb(239, 239, 239);
  display: flex;
  align-items: center;

  @media (min-width: 1100px) {
    height: 80px;
    position: relative;
    font-size: 17px;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .logo-area {
    display: flex;
    align-items: center;

    .logo {
      width: 129px;
      height: 13px;
      @media (min-width: 1100px) {
        width: 183px;
        height: 18px;
        margin-left: 20px;
      }
      img {
        width: 100%;
      }
    }
    .request {
      font-size: 14px;
      color: black;
      line-height: 48px;
      white-space: nowrap;
      @media (min-width: 1100px) {
        padding-left: 20px;
        font-size: 16px;
      }
    }
  }
  .profile-area {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: -10px;
    height: 100%;
    color: $black;
    align-items: center;
    overflow: hidden;
    position: relative;
    > a {
      line-height: 54px;
      padding: 0 10px;
      text-decoration: none;
      color: black;
      display: block;
      transition: all ease .2s;
      position: relative;
      opacity: 1;
      @media (min-width: 1100px) {
        font-size: 18px;
        padding: 0 13px;
      }
      &.search {
        z-index: 11;
      }
    }
  }
}

.header-menu {
  @include centerfix;
  border-bottom: solid 1px rgb(239, 239, 239);
  height: 50px;

  nav {
    display: flex;
    height: 100%;
    min-width: 100%;
    white-space: nowrap;
    align-items: center;
    overflow-y: auto;

    @include minBreakpoint($phablet) {
      justify-content: center;
    }

    ul {
      display: flex;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid transparent;
        transition: all $animation_speed $animation_easing;

        &:not(:last-child) {
          margin-left: 10px;
        }

        &:hover, &.active {
          border-bottom: 3px solid $black;
        }

        a {
          font-family: $font_second;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.63;
          letter-spacing: -0.4px;
          color: $black;
          padding: 0 10px;
        }
      }
    }
  }
}
.header-blog-menu {
  @include centerfix;
  height: 50px;
  border-bottom: solid 1px rgb(239, 239, 239);

  nav {
    display: flex;
    height: 100%;
    min-width: 100%;
    white-space: nowrap;
    align-items: center;
    overflow-y: auto;

    @include minBreakpoint($phablet) {
      justify-content: center;
    }


    ul {
      display: flex;
      height: 100%;
      //padding: 0 40%;

      @include minBreakpoint($phablet) {
        padding: 0;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          margin-left: 10px;
        }

        &:hover, &.active {
          a {
            color: $black;
          }
        }

        a {
          font-size: 18px;
          font-weight: 700;
          color: #c7c7c7;
          padding: 0 25px;
          transition: all $animation_speed $animation_easing;
        }
      }
    }
  }
}