#main {
  @include centerfix;
  min-height: 600px;
  font-size: 16px;
  font-weight: 300;
  z-index: 2;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $red;
  height: 4px;
  width: 0;
  //transition: all linear $animation_speed;
  z-index: 999999;
}

.container {
  position: relative;
  z-index: 2;
}

.content-wrapper {
  padding: 90px 0;

  &.bg {
    background-color: $pink;
  }
}

.mr15 {
  margin-right: 15px;
}

.mtb15 {
  margin: 15px 0;
}

.mb40 {
  margin-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb100 {
  margin-bottom: 100px;
}

.clear {
  margin: 0 !important;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon-video, .icon-play {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $red;

  &:before {
    content: "";
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 7px 11px;
    border-style: solid;
    border-color: transparent;
    border-left-color: $white;
  }
}

.common-list {
  .list-item, .big-list-item {
    margin-bottom: 30px;
  }
}

.badge {
  display: inline-block;
  vertical-align: text-top;
  min-width: 38px;
  height: 38px;
  background-color: $pink;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.23px;
  color: $white;
  text-align: center;
  margin: 0 10px
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-four:before {
  content: "\e90a";
}

.icon-two:before {
  content: "\e90b";
}


.icon-linkedin:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-profile:before {
  content: "\e902";
}

.icon-delete:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-left:before {
  content: "\e905";
}

.icon-right:before {
  content: "\e906";
}

.icon-top:before {
  content: "\e907";
}

.icon-bottom:before {
  content: "\e908";
}

.icon-close:before {
  content: "\e909";
}

.icon-fill-right-bottom:before {
  content: "\e90c";
}

.icon-power:before {
  content: "\e90d";
}

.icon-settings:before {
  content: "\e90e";
}

.icon-question:before {
  content: "\e90f";
}

.icon-letter:before {
  content: "\e910";
}

.icon-phone:before {
  content: "\e911";
}

.icon-check:before {
  content: "\e912";
}

.icon-minus:before {
  content: "\e913";
}

.icon-plus:before {
  content: "\e914";
}

.icon-fill-left:before {
  content: "\e915";
}

.icon-fill-right:before {
  content: "\e916";
}

.icon-fill-top:before {
  content: "\e917";
}

.icon-fill-bottom:before {
  content: "\e918";
}

.icon-star:before {
  content: "\e919";
}

.icon-youtube:before {
  content: "\e91a";
}