
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconmoon/icomoon.eot?lr3h6i');
  src:  url('../fonts/iconmoon/icomoon.eot?lr3h6i#iefix') format('embedded-opentype'),
  url('../fonts/iconmoon/icomoon.ttf?lr3h6i') format('truetype'),
  url('../fonts/iconmoon/icomoon.woff?lr3h6i') format('woff'),
  url('../fonts/iconmoon/icomoon.svg?lr3h6i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
