/*
* Form css
*/

.form-field {
  position: relative;
  margin-bottom: 25px;
  //max-height: 50px;

  input, textarea {
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d0ceca;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: $black;
    resize: none;
    background: transparent;
    z-index: 9;
  }

  textarea {
    @include breakpoint($phablet) {
      height: 120px;
    }
  }

  &:not(.input-file) {
    input {
      &:focus + label , &.filled + label {
        transform: translateY(-30px);
      }
    }
    textarea {
      &:focus + label , &.filled + label {
        transform: translateY(-35px);
      }
    }
  }

  input[type="file"] {
    opacity: 0;
  }

  label {
    position: absolute;
    left: 0;
    top: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #959595;
    transition: all $animation_easing $animation_speed;
    z-index: 8;
  }

  &.input-file {
    &:before {
      @include center(false, true);
      right: 15px;
      content: "Gözat";
      font-size: 15px;
      font-weight: 400;
      color: #0162c8;
      text-decoration: underline;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      border: none;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &.error {
    &.input-file {
      &:after {
        border-bottom-color: $red;
      }
    }
    input, textarea {
      border-bottom-color: $red;
    }

    label {
      color: $red;
    }
  }
}

.select {
  @include centerfix;
  height: 42px;
  background-color: #f4f4f4;

  select {
    @include center(true, true);
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    color: $black;
    outline: none;
    border: none;
    background: transparent;
    text-indent: 11px;
    -webkit-appearance: none;
    z-index: 2;
  }

  &:after {
    content: "";
    @include center(false, true);
    right: 25px;
    width: 13px;
    height: 6px;
    background: url("../images/icon-arrow-down.svg") center center no-repeat;
    z-index: 1;
  }
}