/*Title css*/
.title {
  display: inline-block;
  border: none;
  outline: none;

  &-primary {
    font-size: 31px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.3px;
    color: $black;
  }

  &.space {
    margin-bottom: 50px;
  }

  &-page-name {
    display: block;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.25;
    color: $black;
    margin-bottom: 60px;
  }

  &-second {
    font-size: 23px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
  }

  &-third {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.08;
    text-align: center;
    color: $black;
  }
}