
$font_primary: 'Playfair Display', serif;;
$font_second: 'Roboto', sans-serif;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$blue                       : #003f6e;
$red                        : #ff0100;
$gray                       : #909090;
$pink                       : #fff5f5;
$color-blue-one             : #003b71;
$color-blue-two             : #2b63ea;
$color-blue-three           : #edf2fc;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $font_primary;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;

/*
* Media query size variable
*/
$small_desktop	: 1170px;
$tablet			: 992px;
$phablet		: 768px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;